{% extends 'base.html' %}

{% block navbar %}
{% include 'garden_detail_nav.html' with garden=form.instance %}
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col">
        <div class="card card-body">
            <div class="row">
                <h1>{{form.instance.name}}</h1>
            </div>
            <div class="row">
                <img id="gardenImage" src="{{form.instance.image.url}}" alt="">
            </div>
        </div>
    </div>
    <div class="col">
        <div id={{form.FORM_CONTAINER_ID}} class="card card-body">
            {% load crispy_forms_tags %}
            {% crispy form %}
        </div>
    </div>
</div>

<div id="{{form.MODAL_ID}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{form.MODAL_ID}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    var deleteUrl = "{{ form.instance.get_delete_url }}"
    var configs = {
        imgInputSelector: '#{{form.image.auto_id}}',
        cropBtnSelector: '#{{form.CROP_BTN_ID}}',
        resetBtnSelector: '#{{form.RESET_BTN_ID}}',
        imgContainerSelector: '#{{form.IMAGE_CONTAINER_ID}}',
        formSelector: '#{{form.FORM_ID}}',
        deleteUrl: '{{ form.instance.get_delete_url }}',
        formContainerSelector: '#{{form.FORM_CONTAINER_ID}}'
    };
</script>
<script src="/static/javascript/utils.js"></script>
<script src="/static/javascript/garden_update.js"></script>
{% endblock %}