{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% block navbar %}
    {% include 'garden_detail_nav.html' with state='active' %}
{% endblock %}

{% block main_content %}

{% include 'components/model_display.html' with instance=garden component='components/garden_config.html' %}

<hr />

<div class="row justify-content-center">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row d-flex justify-content-center justify-content-md-between">
                    <div class="col-auto mb-2 mb-md-0 pr-0">
                        <h3 class="mb-0">Watering Stations</h3>
                    </div>
                    <div class="col-auto align-self-center pl-0">
                        <div class="btn-toolbar">
                            <form class="form" method="post" action="{{garden.get_watering_stations_url}}">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="patch" />
                                <input
                                    id="deactivateAllBtn"
                                    type="submit"
                                    class="btn btn-outline-danger"
                                    value="Deactivate All"
                                />
                            </form>

                            <form class="form mx-2" method="post" action="{{garden.get_watering_stations_url}}">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="patch" />
                                <input type="hidden" name="status" value="true" />
                                <input
                                    id="activateAllBtn"
                                    type="submit"
                                    class="btn btn-outline-info"
                                    value="Activate All"
                                />
                            </form>

                            <button id="addWateringStationBtn" class="btn btn-outline-success" data-toggle="modal" data-target="#newWateringStationModal">+ Add Watering Station</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="table-responsive-lg">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Plant Type</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Moisture Threshold</th>
                                        <th scope="col">Watering Duration</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for watering_station in garden.get_watering_station_formatters %}
                                    <tr>
                                        <td scope="row text-capitalize">
                                            <a
                                                id="wateringStation{{ forloop.counter }}"
                                                href="{{ watering_station.get_absolute_url }}"
                                                >{{ forloop.counter }}</a
                                            >
                                        </td>
                                        <td scope="row text-capitalize">{{ watering_station.plant_type }}</td>
                                        <td scope="row text-capitalize">{{ watering_station.get_status_element|safe }}</td>
                                        <td scope="row">{{ watering_station.moisture_threshold }}</td>
                                        <td scope="row">{{ watering_station.watering_duration }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="newWateringStationModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="newWateringStationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Watering Station</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
{{ configs|json_script:'configs' }}
{% render_bundle 'gardenDetail' 'js' %}
{% endblock %}