{% extends 'base.html' %}

{% block navbar %}
{% include 'garden_detail_nav.html' with garden=garden %}
{% endblock %}

{% block main_content %}

<div class="row mt-4 justify-content-center">
    <div class="col-sm-auto col-lg-4">
        {% include 'components/image_box.html' with instance=garden %}
    </div>
    <div class="col-sm-12 col-lg-8 mt-sm-4 mt-lg-0">
        <div class="row">
            <div class="col">
                {% include 'components/info_card.html' with id='apiKey' title='API key' body=garden.token.uuid %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                {% include 'components/info_card.html' with title='Status' body=garden.get_is_connected_element|safe %}
            </div>
            <div class="col">
                {% include 'components/info_card.html' with title='Connection Strength' body=garden.get_connection_strength_element|safe %}
            </div>
            <div class="col">
                {% include 'components/info_card.html' with title='Water Level' body=garden.get_water_level_element|safe %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                {% include 'components/info_card.html' with id="lastConnectionFrom" title='Last Connected From' body=garden.last_connection_ip %}
            </div>
            <div class="col">
                {% include 'components/info_card.html' with id="lastConnectedAt" title='Last Connected At' body=garden.last_connection_time %}
            </div>
            <div class="col">
                {% include 'components/info_card.html' with id="updateFrequency" title='Update Frequency' body=garden.update_frequency %}
            </div>
        </div>
    </div>
</div>

<hr />

<div class="row justify-content-center">
    <div class="col">
        <div class="card card-body">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <h3>Watering Stations</h3>
                </div>
                <div class="col-auto mb-sm-3 mb-md-0">
                    <div class="btn-toolbar">
                        <form class="form" method="post" action="{{garden.get_watering_stations_url}}">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="patch" />
                            <input
                                id="deactivateAllBtn"
                                type="submit"
                                class="btn btn-outline-danger"
                                value="Deactivate All"
                            />
                        </form>

                        <form class="form mx-2" method="post" action="{{garden.get_watering_stations_url}}">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="patch" />
                            <input type="hidden" name="status" value="true" />
                            <input
                                id="activateAllBtn"
                                type="submit"
                                class="btn btn-outline-primary"
                                value="Activate All"
                            />
                        </form>

                        <form class="form" method="post" action="{{garden.get_watering_stations_url}}">
                            {% csrf_token %}
                            <input
                                id="addWateringStationBtn"
                                type="submit"
                                class="btn btn-outline-success"
                                value="+ Add Watering Station"
                            />
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="table-responsive-lg">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col text-capitalize">#</th>
                                    <th scope="col text-capitalize">Plant Type</th>
                                    <th scope="col text-capitalize">Status</th>
                                    <th scope="col text-capitalize">Moisture Threshold</th>
                                    <th scope="col text-capitalize">Watering Duration</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for watering_station in garden.get_watering_station_formatters %}
                                <tr>
                                    <td scope="row text-capitalize">
                                        <a
                                            id="wateringStation{{ forloop.counter }}"
                                            href="{{ watering_station.get_absolute_url }}"
                                            >{{ forloop.counter }}</a
                                        >
                                    </td>
                                    <td scope="row text-capitalize">{{ watering_station.plant_type }}</td>
                                    <td scope="row text-capitalize">{{ watering_station.get_status_element|safe }}</td>
                                    <td scope="row">{{ watering_station.moisture_threshold }}</td>
                                    <td scope="row">{{ watering_station.watering_duration }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="/static/javascript/jquery.fittext.js"></script>
<script>
$('#name').fitText(0.8, {maxFontSize: 23})
</script>
{% endblock %}