{% extends 'base.html' %}

{% block navbar %}
    {% include 'garden_detail_nav.html' with garden=garden_form.instance state='active' %}
{% endblock %}

{% block main_content %}

<div class="row mt-4 justify-content-center">
    <div class="col-sm-auto col-lg-4">
        <div class="card">
            {% include 'components/image_box.html' with instance=garden_form.instance button='back' %}
        </div>
    </div>
    <div class="col-sm-10 col-lg-8 mt-4 mt-lg-0">
        <div class="card">
            <div class="card-header text-center">
                <h2>Update Garden</h2>
            </div>
            <div class="card-body">
                {% load crispy_forms_tags %}
                {% crispy token_form %}
                <div id="{{garden_form.FORM_CONTAINER_ID}}">
                    {% crispy garden_form %}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="{{garden_form.MODAL_ID}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{garden_form.MODAL_ID}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
{{ configs|json_script:'configs' }}
<script src="{% static 'javascript/gardenUpdate.js' %}"></script>
{% endblock %}