{% extends 'base.html' %}

{% block navbar %}
    {% include 'watering_station_nav.html' with watering_station=watering_station %}
{% endblock %}

{% block main_content %}
    {% if watering_station.image %}
        {% include 'components/model_display.html' with instance=watering_station component='components/watering_station_config.html' %}
    {% else %}
        <div class="row mt-4 justify-content-start">
            <div class="col-5">
                {% include 'components/image_box.html' with instance=watering_station %}
            </div>
            <div class="col">
                {% include 'components/info_card.html' with id='plantType' title='Plant Type' body=watering_station.plant_type %}
            </div>
            <div class="col">
                {% include 'components/info_card.html' with title='Status' body=watering_station.get_status_element|safe %}
            </div>
            <div class="col">
                {% include 'components/info_card.html' with id='moistureThreshold' title='Moisture Threshold' body=watering_station.moisture_threshold %}
            </div>
            <div class="col">
                {% include 'components/info_card.html' with id='wateringDuration' title='Watering Duration' body=watering_station.watering_duration %}
            </div>
        </div>
    {% endif %}

    <hr>

    <div class="row justify-content-center mt-3">
        <div class="col">
            <div class="card card-body">
                <canvas id="soilMoistureChart" data-url={{watering_station.get_records_url}}></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/static/javascript/soil_moisture.js"></script>
    <script src="/static/javascript/jquery.fittext.js"></script>
    <script>
        $('#name').fitText(0.8, {maxFontSize: 23})
    </script>
{% endblock %}