{% extends 'base.html' %}

{% block navbar %}
{% include 'watering_station_nav.html' with watering_station=watering_station %}
{% endblock %}

{% block main_content %}
<div class="row mt-3">
    <div class="col-auto">
        <div class="card card-body">
            <div class="row">
                <div class="col-auto">
                    <h1>Watering Station #<span id="wsIdx">{{watering_station.get_idx|add:1}}</span></h1>
                </div>
                <div class="col-auto align-self-center">
                    <a id="editButton" class="btn btn-sm btn-outline-info"
                        href="{{watering_station.get_update_url}}">Edit</a>
                </div>
            </div>
        </div>
    </div>
    <div clas="col-auto">
        <div class="card card-body">
            <table>
                <tbody class="table">
                    <tr>
                        <td>Status: </td>
                        <td id="status">{{watering_station.get_status_element|safe}}</td>
                    </tr>
                    <tr>
                        <td>Plant Type: </td>
                        <td id="plantType">{{watering_station.plant_type}}</td>
                    </tr>
                    <tr>
                        <td>Moisture Threshold: </td>
                        <td id="moistureThreshold">{{watering_station.moisture_threshold}}</td>
                    </tr>
                    <tr>
                        <td>Watering Duration: </td>
                        <td id="wateringDuration">{{watering_station.get_watering_duration_display}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row mt-3">
    <canvas id="soilMoistureChart" data-url={{watering_station.get_records_url}}></canvas>
</div>
{% endblock %}

{% block javascript %}
<script src="/static/javascript/soil_moisture.js"></script>
{% endblock %}