{% extends 'base.html' %}

{% block navbar %}
    {% include 'watering_station_nav.html' with watering_station=form.instance.get_formatter %}
{% endblock %}

{% block main_content %}
<div class="row mt-4 justify-content-center">
    <div class="col-sm-auto col-lg-4">
        <div class="card">
            {% include 'components/image_box.html' with instance=form.instance.get_formatter button='back' %}
        </div>
    </div>
    <div class="col-sm-10 col-lg-8 mt-4 mt-lg-0">
        <div id={{form.FORM_CONTAINER_ID}} class="card">
            <div class="card-header text-center">
                <h2>Update Watering Station</h2>
            </div>
            <div class="card-body">
                {% load crispy_forms_tags %}
                {% crispy form %}
            </div>
        </div>
    </div>
</div>

<div id="{{form.MODAL_ID}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{form.MODAL_ID}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script>
    var configs = {
        imgInputSelector: '#{{form.image.auto_id}}',
        cropBtnSelector: '#{{form.CROP_BTN_ID}}',
        resetBtnSelector: '#{{form.RESET_BTN_ID}}',
        imgContainerSelector: '#{{form.IMAGE_CONTAINER_ID}}',
        formSelector: '#{{form.FORM_ID}}',
        deleteUrl: '{{ form.instance.get_delete_url }}',
        formContainerSelector: '#{{form.FORM_CONTAINER_ID}}'
    };
</script>
<script src="/static/javascript/utils.js"></script>
<script src="/static/javascript/garden_update.js"></script>
{% endblock %}