{% extends 'base.html' %}

{% block navbar %}
{% include 'watering_station_nav.html' with watering_station=form.instance %}
{% endblock %}

{% block main_content %}

<div class="row">
    <div class="col-md-5">
        <div class="card card-body">
            {% load crispy_forms_tags %}
            {% crispy form %}
        </div>
    </div>
</div>

<div id="deleteWateringStationModal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="deleteWateringStationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Watering Station</h5>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
<script>
    const form = $('#updateWateringStationForm');
    form.on('submit', (event) => {
        event.preventDefault();
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: (data) => {
                form.html(data.html);
            },
        });
    })

    const button = $('#deleteButton');
    button.on('click', (event) => {
        $.ajax({
            type: 'get',
            url: "{% url 'watering-station-delete' form.instance.garden.pk form.instance.pk %}",
            success: (data) => {
                $('.modal-body').html(data.html);
                $('#deleteWateringStationModal').show();
                console.log(data.html);
            }
        })
    })


</script>
{% endblock %}