{% extends 'base.html' %}

{% block main_content %}

<div class="row">
    <div class="col">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
</div>

{% endblock %}


{% block javascript %}
<script>
    const form = $('#updateWateringStationForm');
    form.on('submit', (event) => {
        event.preventDefault();
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: (data) => {
                form.html(data.html);
            },
        });
    })
</script>
{% endblock %}