<div class="card card-body h-100">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1 id="name" class="text-center">{{instance.name}}</h1>
        </div>
    </div>
    {% if instance.image %}
        <hr>
        <div class="row justify-content-center">
            <div class="col-auto">
                <img class="header-photo" src="{{instance.image.url}}" />
            </div>
        </div>
    {% endif %}
    <div class="row justify-content-center h-100 mt-3">
        <div class="col align-self-center">
            <a class="btn btn-sm btn-outline-info w-100" href="{{instance.get_update_url}}">Edit</a>
        </div>
    </div>
</div>