<div class="col-lg-8 mt-sm-4 mt-lg-0 align-self-start">
    <div class="row">
        <div class="col">
            {% include 'components/info_card.html' with id='plantType' title='Plant Type' body=instance.plant_type %}
        </div>
        <div class="col">
            {% include 'components/info_card.html' with title='Status' body=instance.get_status_element|safe %}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            {% include 'components/info_card.html' with id='moistureThreshold' title='Moisture Threshold' body=instance.moisture_threshold %}
        </div>
        <div class="col">
            {% include 'components/info_card.html' with id='wateringDuration' title='Watering Duration' body=instance.watering_duration %}
        </div>
    </div>
</div>